<div
  class="sticky top-0 z-50 w-full border-b border-[#f4ece7]
         bg-background-light/95 backdrop-blur-md
         px-4 py-3 sm:px-10">

  <div class="max-w-7xl mx-auto flex items-center justify-between">

   <!-- Logo -->
<!-- Logo -->
<a href="index.html" class="flex items-center gap-3 group">
  <span
    class="material-symbols-outlined text-primary text-3xl
           group-hover:scale-110 transition-transform">
    flight_takeoff
  </span>
  <img 
    src="assets/logo.png" 
    alt="Travel-with-Friends Logo" 
    class="h-14 w-auto object-contain group-hover:opacity-80 transition-opacity"
  />
</a>
    <!-- Desktop Navigation -->
    <nav class="hidden lg:flex items-center gap-6">
      <a data-link="home" href="index.html"
         class="text-sm font-semibold text-text-main
                hover:text-primary transition-colors">
        Home
      </a>
      <a data-link="bus" href="Bus.html"
         class="text-sm font-semibold text-text-main
                hover:text-primary transition-colors">
        Bus
      </a>
      <a data-link="flights" href="Flights.html"
         class="text-sm font-semibold text-text-main
                hover:text-primary transition-colors">
        Flights
      </a>
       <a data-link="hotels" href="Hotels.html"
         class="text-sm font-semibold text-text-main
                hover:text-primary transition-colors">
        Hotels
      </a> <a data-link="trips" href="Trip_packages.html"
         class="text-sm font-semibold text-text-main
                hover:text-primary transition-colors">
        Trip Packages
      </a>
        <a data-link="visa" href="Visa.html"
        class="text-sm font-semibold text-text-main
          hover:text-primary transition-colors">
           Visa
        </a>

     
     
    </nav>

    <!-- CTA -->
    <a
      href="contact.html"
      class="hidden lg:flex items-center justify-center
             h-10 px-6 rounded-xl
             bg-primary text-white text-sm font-bold
             hover:bg-primary/90 transition-all
             shadow-lg shadow-primary/20">
      Contact Us
    </a>

    <!-- Mobile Menu Button -->
    <button
      id="mobileMenuBtn"
      class="lg:hidden p-2 rounded-lg
             hover:bg-primary/10 transition">
      <span class="material-symbols-outlined text-text-main">
        menu
      </span>
    </button>
  </div>

  <!-- Mobile Menu -->
 <div id="mobileMenu" class="hidden px-6 py-4">
  <nav class="flex flex-col gap-4">
    <a data-link="home" href="index.html">Home</a>
    <a data-link="bus" href="Bus.html">Bus</a>
    <a data-link="flights" href="Flights.html">Flights</a>
    <a data-link="trips" href="Trip_packages.html">Trip Packages</a>
    <a data-link="hotels" href="Hotels.html">Hotels</a>
    <a data-link="visa" href="Visa.html">Visa</a>

    <a href="Contact.html">Contact</a>
  </nav>
</div>

</div>
